html {
  height: 100%;
}

body {
  height: 93%;
  /* position: relative; */
  background-image: linear-gradient(lightblue, rgb(24, 141, 177));
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* text-align: center; */
  padding-left: 2em;

}



input, button {
  font-size: 1em;

}


input[type = "text"] {
  margin-bottom: 0.5em;
}


#pageTitle {
  text-align: center;
  margin-top: 2em;
  font-size: 2em;
}

#add-space-input {
  margin-bottom: 1em;
}

.flex-container {
  display: flex;
}

/* .vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
} */

#spaceDescription {
  padding: 0.5em;
  height: 4em;
  word-wrap: break-word;
  resize: none;
  font-size: 1em;
}

.sidebar {
  margin-right: 2em;
}

