<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" type="text/css" href="main.css">
      <title>MakersBnB by Team Random</title>
  </head>
  <body>
    <h1 id="pageTitle">Sign up to MakersBnB</h1>

    <input type="text" placeholder="User Name" id="username" name="username" value=""><br>
    <input type="text" placeholder="email" id="email" name="email" value=""><br>
    <input type="text" placeholder="Password" id="password" name="password" value=""><br>
    
    <input type="submit" name="button" id="sign-up" value="sign up">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript">
    $( document ).ready(function(){
    })
     $("#sign-up").click(function(){
     $.post(`localhost:8080/signUp?username=${$("#username").val()}&email=${$("#email").val()}&password=${$("#password").val()}`)
     })
  </script>
  </body>
</html>
